## 제곱 함수와 n 제곱 함수 만들기(202쪽)

In [1]:
def my_sq(x):
    return x ** 2

In [2]:
def my_exp(x, n):
    return x ** n

In [3]:
print(my_sq(4))

16

In [4]:
print(my_exp(2, 4))

16

## 시리즈와 데이터프레임에 apply 메서드 사용하기(203쪽)

In [6]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
# apply를 통해 한꺼번에 함수처리
sq = df['a'].apply(my_sq) 
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [16]:
# 파라미터가 2개이면? => 첫 원소는 apply로 잡고, 나머지는 파라미터만큼 추가

# TypeError: my_exp() got an unexpected keyword argument 'nn'
# ex = df['a'].apply(my_exp, nn=2) 
# => my_exp()의 파라미터를 이름에 맞게 줘야 한다.

ex = df['a'].apply(my_exp, n=2) 
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

## 5. 데이터 프레임과 apply 메서드

In [17]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [18]:
def print_me(x): 
    print(x)

In [19]:
# 뭐지 ?
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [20]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [21]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [22]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [25]:
# print(df.apply(avg_3))
# TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')
# => 파라미터 y,z가 없기 때문에

In [26]:
def avg_3_apply(col):
    x = col[0] 
    y = col[1] 
    z = col[2] 
    return (x + y + z) / 3


print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [27]:
def avg_3_apply(col):
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0]

In [28]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

In [29]:
# axis = 1 / 가로 축 방향, 행
# axis = 0 / 세로 축 방향, 열
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64

## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기(208쪽)

In [24]:
import seaborn as sns

titanic = sns.load_dataset("titanic")

In [31]:
print(titanic.info())
print(titanic.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None
(891, 15)

In [46]:
import numpy as np
# numpy의 vector = pandas의 series

In [39]:
# null 값 찾기 => np에서는 NaN과 별개로 본다.
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [40]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [41]:
# null값 퍼센트 찾기
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

In [42]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [43]:
def prop_complete(vec):
    return 1 - prop_missing(vec)

## 8. 데이터프레임의 누락값을 처리하기 ― 행 방뱡

In [48]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

# 행별로 결측치 갯수
print(cmis_row)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [49]:
# 행별로 결측치 퍼센트
print(pmis_row)

0      0.066667
1      0.000000
2      0.066667
3      0.000000
4      0.066667
         ...
886    0.066667
887    0.000000
888    0.133333
889    0.000000
890    0.066667
Length: 891, dtype: float64

In [52]:
# 행별로 값이 있는 셀 퍼센트
print(pcom_row)

0      0.933333
1      1.000000
2      0.933333
3      1.000000
4      0.933333
         ...
886    0.933333
887    1.000000
888    0.866667
889    1.000000
890    0.933333
Length: 891, dtype: float64

In [55]:
# 행별로 결측치 갯수를 찾아서, 열 추가! => 추후 작업 시 처리할 수 있도록
titanic['num_missing'] = titanic.apply(count_missing, axis=1)

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [57]:
# titanic에서 num_missing > 1 조건에 맞춰서 전체 열을 가져온 후에, 10개를 sample(랜덤)으로 가져와라.
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
653         1       3  female  NaN      0      0   7.8292        Q   Third
656         0       3    male  NaN      0      0   7.8958        S   Third
593         0       3  female  NaN      0      2   7.7500        Q   Third
76          0       3    male  NaN      0      0   7.8958        S   Third
718         0       3    male  NaN      0      0  15.5000        Q   Third
428         0       3    male  NaN      0      0   7.7500        Q   Third
277         0       2    male  NaN      0      0   0.0000        S  Second
639         0       3    male  NaN      1      0  16.1000        S   Third
347         1       3  female  NaN      1      0  16.1000        S   Third
140         0       3  female  NaN      0      2  15.2458        C   Third

       who  adult_male deck  embark_town alive  alone  num_missing
653  woman       False  NaN   Queenstown   yes   True            2
656    man        True  NaN  Southampton    no   True            2
593  woman       False  NaN   Queenstown    no  False            2
76     man        True  NaN  Southampton    no   True            2
718    man        True  NaN   Queenstown    no   True            2
428    man        True  NaN   Queenstown    no   True            2
277    man        True  NaN  Southampton    no   True            2
639    man        True  NaN  Southampton    no  False            2
347  woman       False  NaN  Southampton   yes  False            2
140  woman       False  NaN    Cherbourg    no  False            2