## datetime 오브젝트 사용하기(238쪽)

In [1]:
from datetime import datetime

In [2]:
# 현재 시각 1
now1 = datetime.now() 
print(now1)

2020-02-03 15:11:49.015453

In [3]:
# 현재 시각 2
now2 = datetime.today()
print(now2)

2020-02-03 15:12:04.919090

In [5]:
t1 = datetime.now() 
# 년 월 일
t2 = datetime(1970, 1, 1)
# 년 월 일 시 분 초
t3 = datetime(1970, 12, 12, 13, 24, 34) 

print(t1)
print(t2)
print(t3)

2020-02-03 15:13:09.713854
1970-01-01 00:00:00
1970-12-12 13:24:34

In [6]:
diff1 = t1 - t2

print(diff1)
print(type(diff1))

18295 days, 15:13:09.713854
<class 'datetime.timedelta'>

In [7]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-18296 days, 8:46:50.286146
<class 'datetime.timedelta'>

## 문자열을 datetime 오브젝트로 변환하기(240쪽)

In [8]:
import pandas as pd 
import os
ebola = pd.read_csv('../data/country_timeseries.csv')

In [9]:
print(ebola.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.3+ KB
None

In [11]:
ebola['date_dt'] = pd.to_datetime(ebola['Date'])
print(ebola.info())
# type이 안바뀐다!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
date_dt                122 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB
None

In [13]:
test_df1 = pd.DataFrame({'order_day':['01/01/15', '02/01/15', '03/01/15']})

# Datetime 잡을 때, 포맷을 해주어야 한다.
test_df1['date_dt1'] = pd.to_datetime(test_df1['order_day'], format='%d/%m/%y')
test_df1['date_dt2'] = pd.to_datetime(test_df1['order_day'], format='%m/%d/%y')
test_df1['date_dt3'] = pd.to_datetime(test_df1['order_day'], format='%y/%m/%d')

print(test_df1)

  order_day   date_dt1   date_dt2   date_dt3
0  01/01/15 2015-01-01 2015-01-01 2001-01-15
1  02/01/15 2015-01-02 2015-02-01 2002-01-15
2  03/01/15 2015-01-03 2015-03-01 2003-01-15

In [14]:
test_df2 = pd.DataFrame({'order_day':['01-01-15', '02-01-15', '03-01-15']})
test_df2['date_dt'] = pd.to_datetime(test_df2['order_day'], format='%d-%m-%y')

print(test_df2)

  order_day    date_dt
0  01-01-15 2015-01-01
1  02-01-15 2015-01-02
2  03-01-15 2015-01-03

## 시계열 데이터를 구분해서 추출하고 싶어요(243쪽)

In [15]:
now = datetime.now()
print(now)

2020-02-03 15:25:03.775095

In [16]:
nowDate = now.strftime('%Y-%m-%d')
print(nowDate)

2020-02-03

In [17]:
nowTime = now.strftime('%H:%M:%S')
print(nowTime)

15:25:03

In [18]:
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)

2020-02-03 15:25:03

## datetime 오브젝트로 변환하려는 열을 지정하여 데이터 집합 불러오기(244쪽)

In [19]:
# parse_dates => 바로 날짜로 받아오도록
# Date                   122 non-null datetime64[ns]
ebola1 = pd.read_csv('../data/country_timeseries.csv', parse_dates=['Date']) 
print(ebola1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null datetime64[ns]
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.3 KB
None

## datetime 오브젝트에서 날짜 정보 추출하기(244쪽)

In [20]:
date_series = pd.Series(['2018-05-16', '2018-05-17', '2018-05-18'])
d1 = pd.to_datetime(date_series) 
print(d1)

0   2018-05-16
1   2018-05-17
2   2018-05-18
dtype: datetime64[ns]

In [21]:
print(d1[0].year)

2018

In [22]:
print(d1[0].month)

5

In [23]:
print(d1[0].day)

16

## dt 접근자로 시계열 데이터 정리하기(245쪽)

In [24]:
ebola = pd.read_csv('../data/country_timeseries.csv')
ebola['date_dt'] = pd.to_datetime(ebola['Date'])