# 시리즈 & 데이터프레임 만들기

## 시리즈 생성

In [2]:
import pandas as pd

In [3]:
# [column name, data ...]
s = pd.Series(['banana', 42, 12, 2324])
print(s)

0    banana
1        42
2        12
3      2324
dtype: object

In [4]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [12]:
# index가 넘버링이 아니게 줄 때
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

## 데이터프레임 생성

In [6]:
# 기본적인 데이터 프레임, 딕셔너리에 리스트 형식
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [11]:
# 인덱스를 name으로!
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

## 데이터프레임 > 시리즈

In [8]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

In [9]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row)) # <class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

In [13]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

## index, values / keys
 - 실제로는 딕셔너리와 유사하기 때문에  
 keys()가 된다!

In [19]:
print(first_row.index) # list type
print(first_row.index[2])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Died

In [21]:
print(first_row.values) # list type

['Statistician' '1876-06-13' '1937-10-16' 61]

In [23]:
print(first_row.keys()) # index와 같다!
print(first_row.keys()[2])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Died

## mean, min, max, std

In [24]:
scientists = pd.read_csv('../data/scientists.csv')

In [34]:
ages = scientists['Age']

In [35]:
print(ages.max())

90

In [36]:
print(ages.min())

37

In [40]:
print(ages.mean())

59.125

In [41]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [43]:
# True, False를 통해서 True인 것만 인덱싱할 수 있다!!
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [44]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [47]:
# manual_bool_values = [True, True, False, False, True, True, False, True] 
manual_bool_values = [False, True, False, False, False, False, False, False] 
print(ages[manual_bool_values]) # True인 인덱스만 가져온다!

1    61
Name: Age, dtype: int64

## 행렬 계산 -> 벡터, 스칼라 활용
- 벡터 : 값이 여러개 (시리즈, 데이터프레임)
- 스칼라 : 단일값 ( 상수 )

In [49]:
a = [1,2,3]

In [55]:
# list 2개가 나열된다.
print(a*2)

[1, 2, 3, 1, 2, 3]

In [60]:
# 벡터 * 스칼라 곱 => for문 돌린 것처럼
print( ages*2 ) # 사칙연산 가능

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [62]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [64]:
print(ages + pd.Series([1, 100])) 
# !! 에러를 안뱉는다 !!
# 인덱스가 안맞으면 나머지 NaN처리
# isnull 체크 / shape() 갯수 확인

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [67]:
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [68]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [69]:
print(ages + rev_ages)
# !! sort를 해도 index를 기준으로 벡터합을 한다. !!
# 에러가 안뜬다. / 내가 원하는 결과에 따라 다른 방법을 써야 한다.

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [88]:
print(scientists * 2)
# str 곱은 python의 str곱과 동일 ( n번 반복 )
# Date값은 object, 즉 스트링으로 받기 때문에 2번 반복된다.

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## 시리즈 & 데이터프레임 처리

In [87]:
print(scientists.dtypes)
print("="*50)
print(scientists['Died'].dtype)

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object
==================================================
object

In [90]:
born_datetime = pd.to_datetime(scientists['Born'], format="%Y-%m-%d")
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [91]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [96]:
# tuple 방식
# scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
# 일반적인 방식
scientists['born_dt'] = born_datetime
scientists['died_dt'] = died_datetime
print(scientists.head())
print("="*50)
print(scientists.dtypes)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
==================================================
Name                  object
Born                  object
Died                  object
Age                    int64
Occupation            object
born_dt       datetime64[ns]
died_dt       datetime64[ns]
dtype: object

In [97]:
# 없는 칼럼을 사용하면 만든다. => 딕셔너리와 동일
scientists['age_days_dt'] = (scientists['died_dt'] - \
                             scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [101]:
print(scientists.shape) # (행 갯수, 열 갯수)

(8, 8)

## 랜덤으로 데이터프레임 섞기

In [107]:
print(scientists['Age'])

0    90
1    41
2    37
3    45
4    77
5    66
6    61
7    56
Name: Age, dtype: int64

In [106]:
import random

random.seed(5) # 정수 값 아무거나, 고정해주기 위함 / 비우면 시간을 통해서 계산한 값을 사용
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    90
1    41
2    37
3    45
4    77
5    66
6    61
7    56
Name: Age, dtype: int64

## 데이터 프레임 열 삭제하기

In [134]:
scientists_dropped = scientists.drop(["Age"], axis=1) # axis 상관없나?
# 원본은 안 건드리니, 변수에 담아야 한다.
print(scientists_dropped.columns)
print("="*50)
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
==================================================
Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

## 피클을 통해 저장 및 불러오기

In [113]:
names = scientists['Name']

In [114]:
names.to_pickle('../output/scientists_names_series.pickle')

In [119]:
scientists.to_pickle('../output/scientists_df.pickle')

In [120]:
scientists_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [121]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90             Chemist
1        William Gosset  1876-06-13  1937-10-16   41        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   45             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   77           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   61  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

## csv / tsv 파일 저장

In [132]:
# csv 저장 시에 index까지 한꺼번에 된다.
# index는 header가 없기 때문에 warning 출력 
# => 필요하면 살리는데 왠만하면 아래 코드를 쓰자
names.to_csv('../output/scientist_names_series.csv')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
# csv 저장 시에 index가 제외되게 한다.
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [125]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [131]:
names_df = names.to_frame()

# 데이터가 적을 경우에는 엑셀이 나을 수 있다. 엑셀은 160만개까지만 가능
# 30만 row 이상, 엑셀 / 이하, csv
# sudo -i
# pip install xlwt
import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')